.home {
  // position: fixed;
  // width: 100%;
  // height: 100%;
  // background: url("https://p.pstatp.com/origin/13749000299387099ca18") no-repeat;
}

nav {
  width: 100%;

  .container {
    padding: 10px 0;
    background: hsla(0, 0%, 0%, 0.5) border-box;
    overflow: hidden;
    border-radius: 0.3em;

    .logo {
      margin-left: 2%;
      float: left;
      width: 100px;
      height: 80%;

      img {
        width: 100%;
        height: 100%;
      }
    }


    .menu {
      position: relative;
      top: 5px;
      float: right;
      width: 50px;
      height: 100%;

      .iconfont {
        font-size: 30px;
        color: #fff;
      }

      .menuList {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 60px;
        width: auto;
        white-space: nowrap;
        height: 100%;
        padding: 0 15px;
        background: hsla(0, 0%, 0%, 0.5) border-box;
        border-radius: 15px;
        transition: all .3s linear;

        a {
          padding: 5px 0;
          margin-right: 20px;
          display: inline-block;
          height: 100%;
          color: #F56C6C;
          text-align: center;
        }

        a:last-child {
          margin: 0;
        }
      }
    }



    .menu:hover .menuList {
      visibility: visible;
      opacity: 1;
    }

  }

  .container::after {
    content: "";
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
}

.search_container {
  margin: 0 auto;
}

.search_box {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;


  .search_form {
    position: relative;
    width: 100%;
    margin-top: 5%;
    margin-left: 12%;

    .switch {
      position: absolute;
      left: 0;
      width: 50px;
      height: 100%;
      text-align: center;
      border-right: 1px solid rgb(212, 205, 205);
      border-radius: 0 10px 10px 0;

      img {
        width: 80%;
        height: 100%;
      }

      .typeList {
        position: absolute;
        top: 110%;
        left: -10%;
        background-color: #fff;
        border-radius: 5px;
        width: 60px;
        padding: 10px 0;
        li {
          margin-top: 5px;
          .content{
            font-size: 12px;
            color: #C0C4CC;
          }
        }

        li:first-child {
          margin: 0;
          border: none;
        }
      }
    }


    .ipt {
      width: 66%;
      height: 40px;
      padding-left: 8%;
      font-size: 16px;
      color: rgb(128, 126, 124);
      font-weight: bold;
      outline: none;
      border: none;
      border-radius: 10px;
    }

    .btn {
      margin-left: 1%;
      width: 50px;
      height: 40px;
      outline: none;
      border: none;
      background-color: #fff;
      border-radius: 10px;
    }
  }
}